/* register.module.css */
.container {
  margin: 0 auto;
  padding: 16px;
  width: 380px;
}

.forgotPassword {
  float: right;
}

.header {
  margin-bottom: 24px;
  text-align: center;
}

.section {
  align-items: center;
  background-color: #f0f2f5;
  display: flex;
  height: 100vh;
  padding: 24px 0;
}

.signup {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.text {
  color: #667385;
}

.title {
  font-size: 24px;
}
